@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}


/* Sidebar*/
.sidebar {
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    height: 100%;
    width: 450px;
    padding: 10px 14px;
    background: #FFFFFF;
    transition: width 0.3s ease;
}

.sidebar .menu-bar-button {
    position: absolute;
    top: 35px;
    right: 10px;
    cursor: pointer;
}

/* Closing Sidebar */
.sidebar.close {
    width: 60px;
}

.sidebar.close .side-bar-options-paragraph {
    display: none; 
}

.sidebar.close .profile-bar .profile-bar-welcome {
    display: none;
}

.sidebar.close .side-bar-buttons {
    padding-top: 4.5rem;
}

/* Opening Sidebar */
.sidebar.open{
    width: 450px;
}

.sidebar.open .side-bar-options-paragraph {
    display: block;
}

.sidebar.open .profile-bar {
    display: flex;
}

.sidebar.open .side-bar-buttons{
    padding-top: 0rem;
}


/* Profile Bar */
.profile-bar {
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    align-items: center;
}

.profile-bar-welcome {
    display: flex;
    align-items: center;
}

.profile-bar .img {
    height: 75px;
    width: 75px;
}

.profile-welcome{
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: 'Inter';
    color: #4E4E4E;
    width: 352px;
}

.profile-welcome p {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 0;
}

.profile-welcome h2 {
    font-size: 26px;
    font-weight: 500;
    font-style: italic
}

.profile-welcome p,
.profile-welcome h2 {
    line-height: 1.1;
    padding-left: 10px;
}


/* Side Bar Buttons*/

.side-bar-buttons {
    display: flex;
    flex-direction: column;
    height: 83%;
    justify-content: space-between;
}

.side-bar-buttons a {
    color: #7C7C7C;
    text-decoration: none;
}

.side-bar-options-items {
    display: flex;
    justify-content: left;
    align-items: center;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: 500;
    height: 4rem;
    width: 300px;
    padding: 0 10px;
    gap: 1rem;

}

.side-bar-options-items img {
    width: 38px;
    height: 35px;
    text-align: center;
    padding-right: 10px;
}

.lower-side-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Adjust if needed */
}

.lower-side-buttons a{
    color: #7C7C7C;
    text-decoration: none;
}

/* Apply background color on hover */
.side-bar-options-items:hover {
    color: #8B0505;
    background-color: rgba(139, 5, 5, 0.3);
    border-radius: 10px; 
}

/* Ensure that the text color and image do not change on hover */
.side-bar-options-items a, 
.side-bar-options-items img {
    color: inherit;
}

